<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="icon" href="/img/icon.png" type="image/png" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class=" bg-sky-100">
    <div class="flex flex-col max-w-xl gap-5 p-3 bg-sky-100  mx-auto mt-10">
        <div
          class="p-2 text-lg font-bold text-center border-2 border-black rounded-full bg-amber-300"
        >
          Ciencias Sociales
        </div>
        <section
          id="seccion-preguntas"
          class="flex flex-col gap-3 p-3 bg-white rounded-2xl"
        ></section>
        <button id="btn-siguiente" class="p-3 bg-white rounded-full hover:bg-green-400">
          Siguiente
        </button>
      </div>
  
      <script type="module" src="../mains/mainCienciasSociales.js"></script>
      <script src="
  https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js
  "></script>
</body>
</html>